<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.broadcastsapp">
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BroadcastsApp">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--    Recordar que el registro del evento AIRPLANE_MODE de manera estática, es decir, de esta
        manera, en el manifest, solo surte efecto para versiones anteriores a Android 8.0 y que para
        versiones posteriores, es como si estuviera comentado-->
        <receiver android:name=".receivers.ModoAvionReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.AIRPLANE_MODE"/>
            </intent-filter>
        </receiver>

        <service android:name=".services.TemporizadorService"/>
    </application>
</manifest>